.app_wrapper{

}
.content {
    
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
  }






  .container{
    display: grid;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;
  }
.searchbox{
    color:white;

}
.searchBar{
    padding-bottom: 0px;
    
}
.emoteImg{
    margin-top:0px;
    justify-content: center;
    align-content: center;

}